.programTypes{
    padding: 10px;
    display: inline-flex;
    gap: 5px;
    flex-direction: column;
    .type{
        &:hover{
            .programs{
                display: block;
                transition: display 1s linear 1s;
            }
        }
        position: relative;
        i{
            display: block;
            font-size: 40px;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
        }
        .programs{
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            .program{
                cursor: pointer;
                white-space: nowrap;
                height: 45px;
                display: flex;
                align-items: center;
                border-top: 1px solid black;
                &:last-child{
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}