<div class="footer" *transloco="let t">
    <i class="fa-solid fa-house-user icon start"></i>
    <div class="openPages center">
        @for (program of programService.getOpenPrograms(); track $index) {
            <div class="openPage" [ngClass]="{'minimized': program.options.isMinimized}" (click)="toggleMinimizeProgram(program)">
                <i [ngClass]="program.iconClass"></i>
                <div class="name">{{ t(program.name) }}</div>
            </div>
        }
    </div>
    <div class="end">
        <i class="fa-solid fa-gears icon settings"></i>
        @if (notivicationService.notifications.length > 0) {
            <div class="notifications">
                <div class="amount">{{ notivicationService.notifications.length }}</div>
                <i class="fa-solid fa-bell icon"></i>
            </div>
        }
    </div>
</div>