@import '../../../sass/colors.scss';
.programma{
    width: 80px;
    padding: 5px 5px 0 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    &.explorer{
        p {
            color: black !important;
        }
        &.small{
            padding: 5px;
            border-bottom: 1px solid lightcyan;
            height: 20px;
            display: flex;
            text-align: center;
            width: 100%;
            img {
                width: 15px;
                padding-right: 5px;
                &.before{
                    top: auto;
                    bottom: 5px;
                    left: 5px;
                    width: 8px;
                    height: 8px;
                }
            }
            p {
                height: 20px;
                color: black !important;
                margin-top: 0;
            }
        }
    }
    >img{
        width: 100%;
        object-position: center bottom;
    }
    img.before{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 64px;
        left: 5px;
    }
    p{
        text-align: center;
        color: color(light);
        font-size: smaller;
        margin-top: -5px;
    }
}