.notification{
    background-color: white;
    padding: 10px;
    position: relative;
    button {
        
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: transparent;
    border: none;
    }
}