@import './sass/font.scss';

*{
    margin: 0;
    padding: 0;
    user-select: none;
}

::-webkit-scrollbar{
    width: 0;
}

.explorerPrograms{
    &.small {
        display: block;
    }
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}