<div class="desktop">
    <div class="background">
        <img [src]="backgroundService.background" alt="Background image for desktop" class="backgroundImage">
        <img src="../../../../assets/LogoNoBg.png" alt="Background logo for desktop" class="backgroundLogo">
    </div>
    <div class="desktopIcons">
        @for (program of programService.getDesktopPrograms(); track $index) {
                <app-icon [isExplorer]="false" [program]="program" [darkBackground]="backgroundService.brightness <= 50"></app-icon>
        }
    </div>
    @if (programService && programService.getOpenPrograms().length > 0) {
        <div class="programs">
            @for (program of programService.getOpenPrograms(); track $index){
                @if (!program.options.isMinimized) {
                    @if (program.name === "socials") {
                        <app-socials [program]="program"></app-socials>
                    }
                    @if (program.name === "projects") {
                        <app-projects [program]="program"></app-projects>
                    }
                }
            }
        </div>
    }
    <div class="settings">
        <app-settings/>
    </div>
    <div class="notifications">
        <app-notifications/>
    </div>
    @if(rightClickDesktop.isOpen) {
        <app-rcdesktop></app-rcdesktop>
    }
    @if(rightClickFooter.isOpen) {
        <app-rcfooter></app-rcfooter>
    }
</div>